################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Koopakiller.Portable.UnitTests/obj/Debug
/Koopakiller.Portable/obj/Debug
/.vs
/Koopakiller.Portable.UnitTests/bin/Debug
/Koopakiller.Portable/bin/Debug
*.user
/Koopakiller.ClassicDesktop/obj/Debug
